{% extends 'base.html' %}
{% block title %} APOD {% endblock %}
{% block content %}
  <div class="jumbotron shadow">
    <h2 class="display-5 text-center mb-4">Astronomy Picture Of the Day</h2>

    {% if data['media_type'] == 'image' %}
      <div class="row justify-content-center py-4">   
        <img class="img-fluid" src="{{ data['url'] }}" alt="{{ data['title'] }}">
      </div> 
    {% endif %}

    {% if data['media_type'] == 'video' %}
      <div class="row justify-content-center py-4">
        <iframe width="560" height="315" src="{{ data['url'] }}" frameborder="0" allowfullscreen></iframe>
      </div>
    {% endif %}

    <div class="row py-4 justify-content-center text-light">
      <p style="font-size: 1.5rem;"><b>{{ data.title }}</b></p>
    </div>
    <div class="row text-light mx-4">
      {{ data.explanation }}
    </div>

    {% if data['copyright'] %}
      <div class="row ml-4 py-4">
        Copyright: {{ data['copyright'] }}  
      </div>
    {% endif %}      

    <a href="/" class="btn btn-outline-info mt-3 ml-4">Home Page</a>
  </div>
{% endblock %}