{% extends 'base.html' %}
{% block title %} Image Search {% endblock %}
{% block content %}
<div class="jumbotron shadow">
  <h2 class="display-5 text-center">NASA Image Library</h2>
  <br>
  <form method="POST" id="search-form">
    <div class="container">
      
      {{ form.hidden_tag() }}

      {% for field in form
        if field.widget.input_type != 'hidden' %}
      <p>
        {{ field(class_="form-control form-control-lg py-4",
            placeholder="SEARCH here   --    something like.. 'Magellanic Cloud'") }}
        
        {% for error in field.errors %}
          <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}

      </p>
      {% endfor %}
      <button class="btn btn-info" type="submit">Search</button>
      <button class="mx-2 btn btn-primary" type="button"
        onclick="fillRandomObject()">I Feel Lucky</button>

    </div>
  </form> 
</div>

<!-- image placing starts here -->

{% if result %}
  <div class="row align-items-center justify-content-between">
    {% for item in result %}
      <form action="/show_image" method="POST">
        <div class="col-sm-6 col-xl-4">
          <button>
            <img src="{{ item['thumbnail']}}"  style="width: 20rem; min-height: 16rem;" alt="{{ item['title']}}">
          </button>
        </div>
        <!-- hidden fields with image data -->
        {% for (key, value) in item.items() %}
          <input type="hidden" name="{{ key }}" value="{{ value }}" >
        {% endfor %}
      </form>
    {% endfor %}
  </div>
  <br>
  <p>
    <a  href="#top" class="btn btn-block btn-info">Back to Top</a>
  </p>
{% endif %}


{% endblock %}
