{% extends 'base.html'  %}

{% block title %} Welcome! {% endblock %}

{% block content %}

<!-- <div class="jumbotron shadow"> -->
<div class="display-4 text-info text-center slide-top">Welcome to NASA's Space Exploration</div>
<div class="text-justify text-light mt-4 mx-5">
    <video  autoplay loop muted style="position:fixed; z-index:-100; right: 0; bottom: 0; min-width: 100%; min-height: 100%; width: auto; height: auto; opacity:0.9">
        <!-- class="w-100" for a responsive background -->
        <source src="/static/background4.mp4" type="video/mp4" alt="Curtosy of Borys Zaitsev - Pexels - video of space" />
    </video>
</div>
<br>
<p class="lead text-center slide-top">
    If you have not watched the sky on a clear night in a while,
    you've come to the right place.
    Here you can get a glimpse of what's out there,
    in virtual proximity to many celestial bodies.
    <br>
    I hope your curiosity will be piqued!
    Enjoy your space trip!
</p>

<!-- </div> -->
{% endblock %}