{% extends 'base.html'  %}

{% block title %} Welcome! {% endblock %}

{% block content %}
<div class="jumbotron shadow">
<h1 class="display-4 text-center">Welcome to Nasa's Space Exploration</h1>
<div class="text-justify mt-4 mx-5">
<p >
    If you have not seen the full night sky in a while,
    here you can get a glipse of what's out there, 
    in close virtual proximity to many celestial bodies and much more.
    <br>
    I hope your curiousity will be piqued!
</p>
<p >
    The site has 4 main parts:
    <ul >
        <li>NASA Images - a service provided by NASA that allows 
            searches on their image database. Once the image is loaded, click on it for more info.
            <br>
            For instance, try looking up some fascinating astronomical objects from the 
            <a target="_blank" href="https://www.nasa.gov/content/goddard/hubble-s-messier-catalog">Messier catalog</a> - 
            you won't be disappointed.
        </li>
        <li>APOD - Astronomy Picture of the DAY - an image/video file updated daily by NASA.</li>
        <li>Perseverance Rover - With currently over 300,000 images available from this rover,
             <a target="_blank" href="https://mars.nasa.gov/mars2020/">Perseverance</a>
            is the latest rover deployed on Mars by NASA.
            It has 15 cameras on board dedicated to specific imaging tasks. This app randomly selects
            a sol (Mars day) out of the total number of days the rover has been active
            and retrives pictures from different cameras. This is raw data with no description - 
            some pictures are more interesting than others.
            But these are images straight from the surface of Mars!   
        </li>
        <li>
            Your Image Collection - When using the NASA images search tool 
            you could save your favorite pictures in the database, if you are logged in. 
        </li>
    </ul>
</p>
<br>
<p class="lead">
    Enjoy your space trip!
</p>
</div>

{% endblock %}