{% extends 'base.html'  %}
{% block title %} LogIn {% endblock %}
{% block content %}
<div class="jumbotron shadow">
<h1 class="display-4">Log In</h1>
<p class="lead">Login Below. Don't have an account? <a href="/register">Register here</a></p>

<form method="POST" class="col-md-6 p-4 shadow">

  {{ form.hidden_tag() }}

  {% for field in form
    if field.widget.input_type != 'hidden' %}
  <p>
    {{ field.label }}
    {{ field(class_="form-control") }}

    {% for error in field.errors %}
    <span class="form-text text-danger">{{ error }}</span>
    {% endfor %}
  </p>
  {% endfor %}

  <button class="btn btn-success" type="submit">LogIn</button>

</form>
</div>
{% endblock %}