{% extends 'base.html'  %}
{% block title %} SignUp {% endblock %}
{% block content %}
<div class="jumbotron shadow">
<h1 class="display-4">Sign Up</h1>
<p class="lead">Register below so you can create your own collection of images!</p>

<form method="POST"class="col-md-6 p-4 shadow">

  {{ form.hidden_tag() }}

  {% for field in form
    if field.widget.input_type != 'hidden' %}
  <p>
    {{ field.label }}
    {{ field(class_="form-control") }}

    {% for error in field.errors %}
    <span class="form-text text-danger">{{ error }}</span>
    {% endfor %}
  </p>
  {% endfor %}

  <button class="btn btn-success" type="submit">Register</button>

</form>
</div>
{% endblock %}