{% extends 'base.html' %}
{% block title %} Perseverance Rover {% endblock %}
{% block content %}

<h3 class="display-5 text-center py-4">Images taken on sol {{ random_sol }}</h3>  
<div class="row align-items-center justify-content-between pt-4">    
    
    {% for image in images %}
     
    <div class="col-sm-6 col-xl-3">
            <a target="_blank" href="{{ image.img_src}}" title="Click for full size image">
                <div class="card shadow my-2 border border-rounded border-secondary ">
                    <img class="card-img-top" src="{{ image.img_src }}"
                        alt="Picture from the Perseverance Rover" />

                  </div>                
            </a>  
        </div>
 
    {% endfor %}

</div>
 
<p>
    <a  href="#top" class="btn btn-block btn-outline-info ml-4 mt-5">Back to Top</a>
</p>
{% endblock %}