{% extends 'base.html' %}
{% block title %} Saved Images {% endblock %}
{% block content %}


<h3 class="mt-4">Welcome {{user.username}}!</h3>
<h4 class="mt-4">This is your collection</h4>
{% if user.images == [] %}
    <h5 class="mt-4">No pictures added yet.</h5>

{% else %}
{% for image in user.images %}

<a target="_blank" href="{{ image.full_size}}" title="Click for full size image">
    <img src="{{ image.thumbnail }}" alt="{{ image.title }}">
</a>  
    <!-- <div class="col-sm-10 col-12">
  
    </div> -->

    <!-- <div class="col-lg-6 col-6"> -->
    <div>
        <form>
          <button class="btn btn-danger btn-sm"
                  formaction="/users/{{ user.username }}/saved_images/{{ image.id }}/delete"
                  formmethod="POST">Delete
          </button>
        </form>
        <ul>
            <li>
                <b>{{ image.title }}</b>
                <p>{{image.description}}</p>

                {% if image.photographer != "None" %}
                    <b>Photographer:</b> {{ image.photographer }}  
                {% endif %}
                
                {% if image.creator != "None" %}
                    <b>Creator:</b> {{ image.creator }}  
                {% endif %}       

            </li>
        </ul>
    </div>
    <br>
{% endfor %}
{% endif %}
{% endblock %}