{% extends 'base.html' %}
{% block title %} Image description {% endblock %}
{% block content %}

    <form action="/user/saved_images" method="GET">
        <p>
            <a target="_blank" href="{{ result['full_size']}}" title="Click for full size image">
            <img src="{{ result['thumbnail']}}" alt="{{ result['title']}}">    </a>
            <p><b>{{ result['title'] }}</b><p>
            {{ result['description'] }}
            <br>
            {% if result['photographer'] != "None" %}
                <b>Photographer:</b> {{ result['photographer'] }}  
            {% endif %}
            <br>
            {% if result['creator'] != "None" %}
                <b>Creator:</b> {{ result['creator'] }}  
            {% endif %}       
            
            {% for (key, value) in result.items() %}
                <input type="hidden" name="{{ key }}" value="{{ value }}" >
            {% endfor %}

            <button class="btn btn-success" type="submit">Add image to your collection</button>
        </p>
    </form>
        <form>
            <input type="button" class="btn btn-outline-info" value="Back to Images" onclick="history.back()">
        </form>

{% endblock %}