{% extends 'base.html' %}
{% block title %} Image details {% endblock %}
{% block content %}
  <div class="jumbotron shadow">
    <form action="/user/{{ result.username }}/saved_images" method="POST">
      <a target="_blank" href="{{ result['full_size']}}" title="Click for full size image">
        <div class="row justify-content-center py-4 ">
          <img src="{{ result['thumbnail']}}" alt="{{ result['title']}}"
                class="img-fluid border border-secondary rounded shadow">
        </div>  
      </a>
      <div class="row py-4 justify-content-center text-light">
        <p style="font-size: 1.5rem;"><b>{{ result.title }}</b></p>
      </div>
      <div class="row text-light mx-4">
        {{ result.description }}
      </div>
      
      <!-- Left both formats to show they both work -->
      {% if result.photographer != "None" %}
        <div class="row ml-4 py-4">    
          Photographer:  {{ result['photographer'] }}  
        </div>
      {% endif %}

      {% if result.creator != "None" %}
        <div class="row ml-4 py-4">
          Creator: {{ result['creator'] }} 
        </div>
      {% endif %}       
      
      {% for (key, value) in result.items() %}
        <input type="hidden" name="{{ key }}" value="{{ value }}" >
      {% endfor %}

      <button class="btn btn-success ml-4 my-4" type="submit">Add image to your collection</button>
    </form>
    <form>
      <input type="button" class="btn btn-outline-info ml-4 my-2" value="Back to Images" onclick="history.back()">
    </form>
  </div>
{% endblock %}